<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="icon.png" href="{% static 'dental care/img/icon.png' %}">
  <title>Healthy teeth</title>
  <link href="{% static 'dental care/css/style.css' %}" rel="stylesheet">
  <link href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
 <div class="header">
   <div class="container">
        <div class="header-line">
            <div class="header-logo">
               <img src="/static/dental care/img/teeth.png" height="70">
            </div>
            <div class="title-site">
               <h2>On our site you will learn how to cure tooth if it hurt</h2>
            </div>
        </div>
   </div>
    <div class="content">
      <div class="device">
        <h4>Often people have toothache<br>
            and this can be prevented<br>
            width home remedies if you don't<br>
            want to go the dentist<br>
            or, you have a toothache at night,<br>
            and you need to quickly<br>
            numb it.<br>
        </h4>
      </div>
      <div class="title-help">
         <h4>There are five ways here to numb the tooth at home:</h4>
      </div>
      <div class="options">
          <li>Rinsing with soda solution</li>
          <li>Cold compress</li>
          <li>Chamomile, calendula and sage decotion</li>
          <li>Onion solution</li>
          <li>Massage</li>
      </div>
      <div class="instruction-1">
          <h4>1 way - Rinsing your mouth with baking soda and warm water:</h4>
             <div class="soda">
                <img src="/static/dental care/img/soda.png" height="400" width="700">
             </div>
            <div class="basic-instruct-1">
                <h3>First you need to pour warm water into a glass (just<br>
                    be careful, not hot, because you can burn yor mouth),<br>
                    then pour one teaspoon of soda into this glass of water<br>
                    and mix well, then rinse your mouth well several times<br>
                    this will help remove the residue from food that is in<br>
                    the teeth, thereby causing pain in the tooth.
                </h3>
            </div>
      </div>
      <div class="instruction-2">
            <h3>2 way - apply cold ice or something cold to your cheek at<br>
                the point where the tooth hurts:<br>
            </h3>
            <div class="compress">
                <img src="/static/dental care/img/cold.png" width="700" height="500">
            </div>
            <div class="explain">
                <h3>This procedure will halp cool the nerve tissue the teeth,<br>
                    because high heat contributes to tooth pain, you also need<br>
                    to keep a cold compress on this side where the tooth hurts<br>
                    for about 5-10 minutes to soothe the pain.
                </h3>
            </div>
      </div>
      <div class="instruction-3">
          <div class="exp">
            <h3>3 way - Decotions from chamomile, calendula and sage:</h3>
          </div>
          <div class="char">
              <img src="/static/dental care/img/decotion.png" width="700px" height="500px">
          </div>
          <div class="tx">
              <h3>This method is similar to the first method but a little more<br>
                  effective, you need to pour boiling water into a mug, then<br>
                  add one teaspoon of chamomile, sage or calendula, then mix<br>
                  well and wait 10 minutes to let it cool to a warm temperat<br>
                  ure, and at the  end rinse your mouth with it.
              </h3>
          </div>
      </div>
      <div class="instruction-4">
          <div class="onion">
              <h3>4 way - Chopped onion:</h3>
              <img src="/static/dental care/img/onion.png" height="500px" width="700px">
          </div>
          <div class="inp">
              <h3>Here you will need: Finely chop the peeled onion and aloe<br>
                  leaves, mix well, take 1 tbsp into your mouth. l. the re<br>
                  ulting mass and chew for several minutes, then spit it<br>
                  out. Carry out the procedure 2-3 times a day.
              </h3>
          </div>
      </div>
      <div class="instruction-5">
          <div class="po">
              <h3>5 way - Massage the hand between the thumb and index<br>
                  finger:</h3>
          </div>
          <div class="pioc">
              <img src="/static/dental care/img/hand.png" height="500px" width="700px">
          </div>
          <div class="irs">
              <h3>And the last method is to massage the point between the<br>
                  thumb and index finger, if you close them, a small tuber<br>
                  cule appears there, and if you open them, a depression app<br>
                  ers. Lightly press this point with the thumb of your other<br>
                  hand, move it up and down, and in parallel click your teeth.
              </h3>
          </div>
          <div class="close">
              <p>Conclusion: on our website you learned 5 ways to temporarily numb a tooth by performing certain procedure,<br>
                 but you should take into account that you will not be able to get rid of toothache for a long time in this<br>
                 way, you will still need to go to the dentist in any case for complete treatment, to completely eliminate<br>
                 the pain, I hope we were able to help you.
              </p>
          </div>
      </div>
    </div>
 </div>
 <div class="footer">
     <div class="offering">
         <h4>Copyright@2024;for healthcare</h4>
     </div>
 </div>
</body>
</html>